.textInput {
  text-decoration: none;
  padding: 0.5rem;
  height: 2.5rem;

  width: 10rem;
  box-sizing: border-box;
  display: flex;
  /* TODO: Adjust the colors */
  border: 1px solid red;
  font-family: var(--font-body, 'sans-serif');
  font-size: 0.875rem;
  color: blue;
  background-color: orange;
  border-radius: 0.25rem;
}

.textInput:focus {
  outline: none;
}
